<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>

	<title>Gestao de Colaboradores</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
	<header>
	
		<nav class="navbar navbar-dark bg-dark">
	  		<a class="navbar-brand" href="#">Gestão de Colaboradores</a>
		</nav>
		
	</header>

	<section>
	
		<div class="container w-50 p-3" style="padding-bottom: 30px;" >
			
			<nav aria-label="breadcrumb" style="padding-left: 0px;" >
  				<ol class="breadcrumb" style="background-color: white" >
    				<li class="breadcrumb-item active" aria-current="page">
    				Listagem dos colaboradores cadastrados
    				</li>
  				</ol>
			</nav>
			
			<div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="colaborador : ${colaboradores}">
				<div class="card-body">
					<h4 class="card-title" style="font-weight: bold; color:black; padding-top: 5px; text-align: center;">
						<span th:text="${colaborador.nome}"></span>
					</h4>
					
					<div class="card-text" >
						<p style="margin-left: 30%; display: inline-block;">E-MAIL:&nbsp;&nbsp;</p> 
						<p style="display: inline-block;" th:text=${colaborador.email}></p>
						</br>
						<p style="margin-left: 30%; display: inline-block;: left">EMPRESA:&nbsp;&nbsp;</p>
						<p style="display: inline-block;: left"th:text=${colaborador.empresa.nome}></p>
					</div>
				</div>
			</div>
			
		</div>
	
	</section>
</body>
</html>